@page "/beefdishes"


<div style="padding: 20px 250px;">
    @*Heading*@
    <div class="text-center">
        <h1 style="font-size: 56px;">
            Beef Dishes
            <small class="text-muted p-1">Recipes</small>
        </h1>
    </div>

    @*Hook*@
    <div class="text-center mt-5" style="font-size: 26px; line-height: 32px;">
        <p>
            Whether you're after ways to use up that leftover roast beef,
            cook up a storm with a portion of beef mince or spice it up with a beef curry,
            we've got lots of easy beef recipes that will inspire you when you're next cooking.
        </p>

        <p>
            Take the decision making out of your next meal.
            Explore classic beef dishes like meatloaf, chili, lasagna, meatballs, burgers and steaks.
            Whether it's for a quick and easy family dinner or a special occasion, our collections have a variety of choices for everyone!
        </p>

        <p>
            
        </p>
    </div>

    @*Recipes*@
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <_CreateRecipe ImageSource="/images/beef-dishes-images/createDish.jpg" />

                @*@foreach(var obj in ...)
                {

                }*@
            </div>
        </div>
    </div>
</div>

@code {

}

