html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.main-text {
    padding: 75px 20px;
}

.main-image {
    border-radius: 20px;
    margin: 40px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.main-subtitle {
    font-weight: 400;
    letter-spacing: 2px;
}

.small-text {
    text-align: right;
    color: grey;
}

.create-recipe {
    background: rgb(155, 155, 155);
    margin: 0;
}

.create-recipe-text {
    margin: 80px 0 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item:hover {
    transform: scale(1.05);
}

.dish-info {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
