@page "/chickendishes"

@inject IRecipeRepository _recipeRepository

<div style="padding: 20px 250px;">
    @*Heading*@
    <div class="text-center">
        <h1 style="font-size: 56px;">
            Chicken Dishes
            <small class="text-muted p-1">Recipes</small>
        </h1>
    </div>

    @*Hook*@
    <div class="text-center mt-5" style="font-size: 26px; line-height: 32px;">
        <p>
            We’re all about chicken for dinner - chicken breasts, thighs, or
            even a whole bird all have a spot on our kitchen table. If you’re
            like us, and just can’t bear to make you (or your family’s) old
            standbys for the umpteenth time, we’ve got you. Get inspired with
            our list of 9 chicken dinner recipes — you’ll be sure to find a new
            weeknight favorite.
        </p>

        <p>
            Chicken pairs so well with cheese, avocado, and spices, in everything
            from flautas to quesadillas. Grab a pack of tortillas (or make your own!),
            and you’ll have myriad different options for how to serve your chicken.
        </p>

        <p>
            Want even more chicken inspiration? Try our stuffed or baked chicken recipes too.
        </p>
    </div>

    @*Recipes*@
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <_CreateRecipe ImageSource="/images/chicken-dishes-images/create-recipe.jpg" />

                <div style="margin-top: 40px; display: flex;">
                    @foreach (var obj in Recipes.Where(x => x.Type.ToLower() == "chicken"))
                    {
                        <div class="col-4 mb-5" style="margin-right: 12px; border: 5px inset lightblue;">
                            <a href="/dishes/@obj.Type/@obj.ID" style="width: 150px;">
                                <div class="item"
                                 style="display: flex; background: rgb(136, 174, 203); align-items: center;">
                                    <img src="/images/chicken-dishes-images/@obj.ImageSource"
                                     style="object-fit: fill; width: 230px; margin: 10px; border: 3px inset white;" />

                                    <h3 class="text-center" style="font-size: 22px;">@obj.Name</h3>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private IEnumerable<RecipeDTO> Recipes { get; set; } = new List<RecipeDTO>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
            await LoadCategories();
            StateHasChanged();
        }
    }

    private async Task LoadCategories()
    {
        Recipes = await _recipeRepository.GetAll();
    }
}
