@page "/contacts"

<div>
    <div class="text-center">
        <h1 style="font-size: 48px;">
            Here's how to
            <small class="text-muted p-1">Reach us</small>
        </h1>

        <hr />
    </div>

    <div class="text-center mt-5 mb-5">
        <h2 style="font-size: 38px;">
            GitHub
            <small class="text-muted p-1">Profiles</small>
        </h2>

        <div style="display: flex; flex-direction: column; font-size: 32px;">
            <a href="https://github.com/skirov1" target="_blank">&#64;skirov1</a>
            <a href="https://github.com/dimitarv23" target="_blank">&#64;dimitarv23</a>
        </div>
    </div>

    <div class="text-center mt-5 mb-5">
        <h2 style="font-size: 38px;">
            LinkedIn
            <small class="text-muted p-1">Profiles</small>
        </h2>

        <div style="display: flex; flex-direction: column; font-size: 32px;">
            <a href="https://www.linkedin.com/in/simeon-kirov-85592123a/" target="_blank">Simeon Kirov</a>
            <a href="https://www.linkedin.com/in/dimitar-vasilev-a38b65235/" target="_blank">Dimitar Vasilev</a>
        </div>
    </div>

    <div class="text-center mt-5 mb-5">
        <h2 style="font-size: 38px;">
            Email 
            <small class="text-muted p-1">Us</small>
        </h2>

        <div style="display: flex; flex-direction: column; font-size: 32px;">
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">simeonkirov21@gmail.com</a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">dimitarv2004@gmail.com</a>
        </div>
    </div>
</div>
@code {

}
