@page "/"


<div style="padding: 20px 250px;">
    <div class="text-center">
        <h1 style="font-size: 56px; margin-bottom: 60px">
            Welcome to the best recipe page!
            <small class="text-muted p-1">Recipes</small>
        </h1>
    </div>


    @*<div class="align-content-center row">
        <div class="col-3 mx-auto mb-5">
            <img src="/chicken-dishes-images/One-pan creamy chicken.jpg" class="w-100" asp-append-version="true" />
            <br />
            <button class="btn btn-default">Chicken Dishes</button>
            <img src="/pork-dishes-images/BakedPorkChops.jpg" class="w-100" asp-append-version="true" />
        </div>
    </div>

    <div class="align-content-center">
        <div class="col-3 mx-auto mb-5">
            
            <br />
        </div>
    </div>*@

    <div class="row">
        <div class="col-3 mx-auto mb-5">
            <img src="images/chicken-dishes-images/One-pan creamy chicken.jpg" class="w-100" style="width:100%">
            <a href="/chickendishes" class="text-center" style="display:block; padding:20px; font-size: 34px; text-decoration: none">Chicken dishes</a>
        </div>
        <div class="col-3 mx-auto mb-5">
            <img src="images/pork-dishes-images/BakedPorkChops.jpg" class="w-100" style="width:100%">
            <a href="/chickendishes" class="text-center" style="display:block; padding:20px; font-size: 34px; text-decoration: none">Pork dishes</a>
        </div>
        <div class="col-3 mx-auto mb-5">
            <img src="images/beef-dishes-images/DelishRoastBeef.jpg" class="w-100; object-fit: cover" style="width:100%">
            <a href="/chickendishes" class="text-center" style="display:block; padding:20px; font-size: 34px; text-decoration: none">Beef dishes</a>
        </div>
        <div class="col-3 mx-auto mb-5">
            <img src="images/egg-dishes-images/Frittata.png" class="w-100; object-fit: cover" style="width:100%">
            <a href="/chickendishes" class="text-center" style="display:block; padding:20px; font-size: 34px; text-decoration: none">Egg dishes</a>
        </div>
    </div>
</div>